.sign-in {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sign-in-buttons { 
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto 200px;
}

.sign-in button {
    color: var(--color8);
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}