
/* Settings */
.settings {
    visibility: hidden;
    position: fixed;
    overflow: scroll;
    top: calc(var(--header-height) - 5px);
    height: 0;
    background-color: var(--color3);
    width: var(--app-min-width);
    z-index: 4;
    transition: visibility var(--transition-time), height var(--transition-time);
}

.settings-visible .settings{
    visibility: visible;
    height: 100%;
}

.option {
    padding: calc(var(--app-spacing-y-outer) - var(--item-space-y) + 5px) 0 calc(var(--app-spacing-y-outer) - var(--item-space-y));
    margin: 0 var(--app-spacing-x) 0;
}

.option {
    padding: var(--item-space-y) 0;
} 

.option-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: var(--item-height);
    background-color: var(--color1);
    border: 1px solid var(--color6);
    border-radius: var(--item-border-radius);
    overflow: hidden;
    opacity: 1;
    transition: box-shadow var(--transition-time), border var(--transition-time), height var(--transition-time), opacity var(--transition-time);
}

.option-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--option-font-size);
    margin-left: var(--option-margin-left);
    height: 100%;
    line-height: 100%;
    color: var(--color8);
}

.option-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--option-value-width);
    height: var(--option-value-height);
    background-color: var(--color4);
    border-radius: var(--app-border-radius);
    margin-right: calc(var(--item-size) / 2);
}

.option-value span.material-icons-outlined {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--color1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 var(--option-icon-margin) 0 var(--option-icon-margin);
    color: var(--color8);
}

.option-value span:nth-of-type(1) {
    opacity: 1;
    left: 0;
    transition: opacity var(--option-transition-time) linear var(--option-transition-time), left var(--option-transition-time) linear var(--option-transition-time);
}
.on .option-value span:nth-of-type(1) {
    opacity: 0;
    left: var(--option-icon-position);
    transition: opacity var(--option-transition-time) linear, left var(--option-transition-time) linear;
}
.option-value span:nth-of-type(2) {
    opacity: 0;
    right: var(--option-icon-position);
    transition: opacity var(--option-transition-time) linear, right var(--option-transition-time) linear;
}
.on .option-value span:nth-of-type(2) {
    opacity: 1;
    right: 0;
    transition: opacity var(--option-transition-time) linear var(--option-transition-time), right var(--option-transition-time) linear var(--option-transition-time);
}

.settings .save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12%;
}
.settings .save button {
    box-sizing: border-box;
    height: calc(var(--item-height) - 20px);
    padding: 0 calc(var(--item-height) - 10px);
    border-radius: var(--item-border-radius);
}

/* About */
.about {
    visibility: hidden;
    position: fixed;
    overflow: scroll;
    top: calc(var(--header-height) - 5px);
    height: 0;
    background-color: var(--color3);
    width: var(--app-min-width);
    z-index: 4;
    transition: visibility var(--transition-time), height var(--transition-time);
}

.about-visible .about {
    visibility: visible;
    height: 100%;
}

.info {
    padding: 20px 50px;
    color: var(--color8);
}

.info h1 {
    margin-top: 20px;
    margin-bottom: 7px;
}

.info h2 {
    margin: 10px 0 5px 20px;
}

.info p {
    margin-left: 20px;
}

.info li {
    margin: 4px 0 2px 40px;
}

.info .link {
    margin: 4px 20px;
}

.info a {
    text-decoration: none;
    color: var(--color8);
}

.info a:hover,
.info a:focus-visible {
    color: var(--color9);
    text-decoration: underline;
    outline: none;
}

.info p.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 100px;
    white-space: pre;
}
