/* Transition Shade */
.transition-shade {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: var(--app-min-width);
    padding-top: var(--header-height);
    background-color: rgba(60, 60, 60, 0.4);
    overflow: hidden;
}

.tab-shade .transition-shade {
    visibility: visible;
}

.menu-shade .transition-shade {
    visibility: visible;
}

/* Header */
.header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: var(--app-min-width);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--color8);
    background-color: var(--color2);
}

/* Menu-Back Button */
.menu-button {
    visibility: visible;
    opacity: 1;
}
.back-button {
    visibility: hidden;
    opacity: 0;
}

/* Title */
.title {
    position: relative;
    height: var(--header-height);
}
.title-todolist,
.title-settings,
.title-about {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    inset: 0;
    height: var(--header-height);
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: 700;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-font-size);
    color: var(--color8);
    transition: opacity var(--half-transition-time) linear;
}
.about-visible .title .title-todolist,
.settings-visible .title .title-todolist {
    opacity: 0;
    transition: opacity var(--half-transition-time) linear;
}
.app-visible .title-todolist {
    opacity: 1;
    transition: opacity var(--half-transition-time) linear var(--half-transition-time);
}
.settings-visible .title-settings {
    opacity: 1;
    transition: opacity var(--half-transition-time) linear var(--half-transition-time);
}
.about-visible .title-about {
    opacity: 1;
    transition: opacity var(--half-transition-time) linear var(--half-transition-time);
}

/* Goto Top Button*/
.header-button.goto-top-button {
    visibility: hidden;
    left: auto;
    right: var(--header-button-left);
    opacity: 0;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

/* Menu */
.menu {
    z-index: 3;
    visibility: hidden;
    position: fixed;
    top : var(--header-height);
    width: var(--app-min-width);
    height: 0;
    overflow: hidden;
    transition: height var(--transition-time), visibility var(--transition-time);
}

.menu.active {
    visibility: visible;
    height: calc(var(--header-height) * 3);
    border-bottom: 1px solid var(--color6);
}

.menu-item {
    display: block;
    width: 100%;
    height: var(--header-height);
    border: none;
    border-bottom: 1px solid var(--color6);
    background-color: var(--color2);
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--color8);
    transition: background-color var(--transition-time);
}

.menu-item:hover,
.menu-item:focus-visible {
    background-color: var(--color5);
    cursor: pointer;
}

.menu-item .material-icons {
    margin-right: 20px;
    margin-left: calc(var(--header-button-left) + 10px);
    font-size: var(--menu-icon-size);
}

.sign-out-button {
    border-bottom: none;
}
.sign-out-button span.material-icons{
    margin-left: calc(var(--header-button-left) + 14px);
    margin-right: 16px;
}

/* Settings */
.settings {
    visibility: hidden;
    position: fixed;
    overflow: scroll;
    top: calc(var(--header-height) - 5px);
    height: 0;
    background-color: var(--color3);
    width: var(--app-min-width);
    z-index: 4;
    transition: visibility var(--transition-time), height var(--transition-time);
}

.settings-visible .settings{
    visibility: visible;
    height: 100%;
}

.options {
    padding: calc(var(--app-spacing-y-outer) - var(--item-space-y) + 5px) 0 calc(var(--app-spacing-y-outer) - var(--item-space-y));
    margin: 0 var(--app-spacing-x) 0;
}

.option {
    padding: var(--item-space-y) 0;
} 

.option-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: var(--item-height);
    background-color: var(--color1);
    border: 1px solid var(--color6);
    border-radius: var(--item-border-radius);
    overflow: hidden;
    opacity: 1;
    transition: box-shadow var(--transition-time), border var(--transition-time), height var(--transition-time), opacity var(--transition-time);
}

.option-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--option-font-size);
    margin-left: var(--option-margin-left);
    height: 100%;
    line-height: 100%;
    color: var(--color8);
}

.option-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--option-value-width);
    height: var(--option-value-height);
    background-color: var(--color4);
    border-radius: var(--app-border-radius);
    margin-right: calc(var(--item-size) / 2);
}

.option-button:hover,
.option-button:focus-visible {
    cursor: pointer;
    box-shadow: 0 0 var(--item-box-shadow-blur) var(--item-box-shadow-spread) var(--color6);
}

.option-value span.material-icons-outlined {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--color1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 var(--option-icon-margin) 0 var(--option-icon-margin);
    color: var(--color8);
}

.option-value span:nth-of-type(1) {
    opacity: 1;
    left: 0;
    transition: opacity var(--options-transition-time) linear var(--options-transition-time), left var(--options-transition-time) linear var(--options-transition-time);
}
.on .option-value span:nth-of-type(1) {
    opacity: 0;
    left: var(--option-icon-position);
    transition: opacity var(--options-transition-time) linear, left var(--options-transition-time) linear;
}
.option-value span:nth-of-type(2) {
    opacity: 0;
    right: var(--option-icon-position);
    transition: opacity var(--options-transition-time) linear, right var(--options-transition-time) linear;
}
.on .option-value span:nth-of-type(2) {
    opacity: 1;
    right: 0;
    transition: opacity var(--options-transition-time) linear var(--options-transition-time), right var(--options-transition-time) linear var(--options-transition-time);
}

.settings .save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12%;
}
.settings .save button {
    box-sizing: border-box;
    height: calc(var(--item-height) - 20px);
    padding: 0 calc(var(--item-height) - 10px);
    border-radius: var(--item-border-radius);
}