/* Footer Buttons */
.footer-button-container {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: auto;
    padding: 0 calc(var(--app-spacing-y-inner) + 20px) 0 0;
    opacity: 0;
    transition: height var(--transition-time), opacity var(--transition-time), padding var(--transition-time);
}

.list-visible .footer-button-container {
    height: 20px;
    opacity: 1;
    padding-bottom: var(--footer-padding-bottom);
}

.footer-button {
    position: relative;
    display: block;
    text-align: center;
    color: var(--color8);
    background-color: var(--color3);
    border: none;
    font-size: var(--text-button-font-size);
}

.footer-button::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 2px;
    bottom: -5px;
    background-color: var(--color7);
    transition: var(--half-transition-time);
}


.footer-button:hover,
.footer-button:focus-visible {
    cursor: default;
}

.list-visible .footer-button:hover,
.list-visible .footer-button:focus-visible {
    cursor: pointer;
}

.list-visible .footer-button:hover::after,
.list-visible .footer-button:focus-visible::after {
    width: 100%;
}
