/* Variables */
:root {
    /* Colors */
    --color1: #FFFFFF;
    --color2: #EEEEEE;
    --color3: #DDDDDD;
    --color4: #CCCCCC;
    --color5: #BBBBBB;
    --color6: #AAAAAA;
    --color7: #777777;
    --color8: #555555;
    --color9: #333333;
    --color10: #111111;
    --color11: #000000;
    
    /* Transition Durations */
    --transition-time: 0ms;
    --fast-transition-time: calc(var(--transition-time) / 2);
    --option-transition-time: calc(var(--transition-time) / 6);
    
    /* App-Container */
    --app-container-max-width: 900px;

    /* Header*/
    --header-height: 80px;
    --header-button-icon-size: 40px;
    --header-button-size: 55px;
    --header-button-left: var(--app-spacing-x);
    --title-font-size: 36px;
    --title-letter-spacing: 10px;
    
    /* Modal */
    --modal-width: 50%;
    --modal-min-width: 500px;
    --modal-text-font-size: 1.6rem;
    --modal-button-height: 40px;
    --modal-button-widht: 80px;

    /* Menu */
    --menu-icon-size: 36px;
    
    /* App */
    --app-border-radius: 25px;
    --app-font-size: 1rem;
    --app-spacing-x: 60px;
    --app-spacing-y: 15px;
    --app-spacing-y-inner: calc(var(--app-spacing-y) * 1.5);
    --app-spacing-y-outer: calc(var(--app-spacing-y) * 3);
    --item-space-y: calc(var(--app-spacing-y));

    /* Todo && Edit Components */
    --text-button-font-size: 1.125rem;
    --item-size: 40px;
    --item-height: calc(var(--item-size) * 2);
    --check-container-width: calc(var(--item-size) * 2);
    --icon-button-size: var(--item-size);
    --icon-size: calc(var(--item-size) / 1.5);
    --icon-padding: calc(var(--item-size) / 2);
    --icon-color: var(--color8);
    --button-container-width: calc(var(--item-size) * 3.5);
    --item-box-shadow-blur: 10px;
    --item-box-shadow-spread: 5px;
    --item-border-radius: var(--item-size);

    /* Footer */
    --footer-padding-bottom: calc(var(--app-spacing-y) * 3);
    --footer-button-active: calc(var(--text-button-font-size) + 2px);

    /* Settings */
    --option-font-size: 1.05rem;
    --option-margin-left: 50px;
    --option-value-width: 90px;
    --option-value-height: 40px;
    --option-icon-size: 30px;
    --option-icon-position: 24px;
    --option-icon-margin: 9px;
    --savebutton-margin-bottom: 0px;
}

/* General */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--color5);
    min-height: 100vh;
}

input {
    font-size: var(--app-font-size);
    color: var(--color8) ;
}

/* Buttons */
span.material-icons {
    color: var(--color8);
    transition: all var(--fast-transition-time);
}
button:focus {
    outline: none;
}
button {
    background-color: var(--color1);
    color: var(--color8);
    transition: all var(--fast-transition-time);
}
button * {
    color: var(--color8);
    transition: all var(--fast-transition-time);
}
button:not([tabindex="-1"]):hover,
button:not([tabindex="-1"]):focus-visible {
    color: var(--color11);
    background-color: var(--color6);
    cursor: pointer;
}
button:not([tabindex="-1"]):hover *,
button:not([tabindex="-1"]):focus-visible * { 
    color: var(--color11);
}
button:not([tabindex="-1"]):active {
    background-color: var(--color8);
    color: var(--color1);
    transition: all 0s;
}
button:not([tabindex="-1"]):active * {
    color: var(--color1);
    transition: all 0s;
}

/* Button Types */
.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color6);
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    border-radius: 50%;
}

.icon-button span.material-icons {
    font-size: var(--icon-size);
}

.header-button {
    position: absolute;
    height: var(--header-button-size);
    width: var(--header-button-size);
    background-color: var(--color2);
    border: none;
    border-radius: 50%;
}

.header-button span.material-icons {
    font-size: var(--header-button-icon-size);
    height: var(--header-button-icon-size);
    width: var(--header-button-icon-size);
}

.text-button {
    font-size: var(--text-button-font-size);
    border: 1px solid var(--color7);
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 950px) {
    :root {
        --app-min-width: 96%;
        --app-spacing-y: 12px;
        --app-spacing-x: 45px;
        --savebutton-margin-bottom: 50px;
    }
}
@media screen and (max-width: 800px) {
    :root {
        --app-min-width: 100%;
        --app-spacing-x: 30px;
    }
}
@media screen and (max-width: 650px) {
    :root {
        --app-spacing-x: 15px;
        --header-button-left: 30px;
        --item-size: 36px;
        --icon-button-size: 38px;
        --icon-size: 26px;
        --icon-padding: 10px;
        --button-container-width: 96px;
        --check-container-width: 58px;
        --modal-width: 80%;
        --modal-min-width: 0;
        --modal-text-font-size: 1.5rem;
        --modal-button-height: 35px;
        --modal-button-widht: 75px;
        --savebutton-margin-bottom: 50px;
    }
    .add-button {
        padding-right: 2px;
    }
    .check-button {
        padding-top: 0;
    }
    .edit-button {
        margin-left: 0px;
        margin-right: var(--icon-padding);
        padding-bottom: 2px;
    }
    .delete-button {
        margin-right: var(--icon-padding);
        padding-bottom: 2px;
    }
    .footer-button-container {
        padding-right: 20px;
        width: 80%;
    } 
    .settings .save button {
        padding: 0 calc(var(--item-height) - 30px);
    }
}

/* Mobile */
@media screen and (max-width: 480px){
    :root {
        --item-size: 40px;
        --app-spacing-y: 10px;
        --header-height: 60px;
        --title-font-size: 30px;
        --title-letter-spacing: 8px;
        --header-button-icon-size: 35px;
        --header-button-size: 48px;
        --menu-icon-size: 30px;
        --option-margin-left: 30px;
    }
    .title{
        left: 5px;
    }
    .menu-item {
        font-size: 1.1rem;
    }
    .delete-button {
        margin-right: var(--icon-padding);
        padding-bottom: 1px;
    }
    .info {
        padding: 20px 30px;
    }
    .header-button span.material-icons{
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 420px) {
    :root {
        --icon-button-size: 34px;
        --icon-size: 24px;
        --header-button-left: 20px;
        --item-height: 104px;
        --text-button-font-size: 1.05rem;
        --button-container-width: 58px;
        --item-border-radius: var(--icon-size);
        --option-margin-left: 0px;
        --option-value-height: 35px;
        --option-value-width: 100px;
        --option-icon-position: 32px;
        --option-icon-margin: 7px;
        --modal-width: 90%;
        --modal-text-font-size: 1.4rem;
    }
    .menu-item .material-icons{
        margin-right: 15px;
    }
    .toggle-login-button span.material-icons{
        margin-right: 11px;
    }
    .addtodo-component input {
        padding-left: 30px;
    }
    .text-button.add-button {
        border-radius: 0 var(--item-border-radius) var(--item-border-radius) 0;
    }
    .button-container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .edit-button {
        margin: 0;
    }
    .delete-button {
        margin: 0;
    }
    .option-button {
        flex-direction: column;
        justify-content: start;
    }
    .option-description {
        width: 100%;
        height: 50px;
    }
    .option-value {
        margin: 0;
    }
    .footer-button-container {
        padding-right: 10px;
    } 
    .save-settings-button {
        padding: 0 calc(var(--item-height) - 45px);
    }
}

@media screen and (max-width: 350px) {
    :root {
        --title-letter-spacing: 4px;
        --title-font-size: 28px;
        --menu-icon-size: 26px;
        --option-font-size: 1rem;
        --header-button-icon-size: 30px;
        --header-button-size: 40px;
    }
    .footer-button-container {
        width: 100%;
        padding-right: 0;
    }
    .delete-all-button {
        margin-right: 10px;
    }
    .menu-item {
        font-size: 1.1rem;
    }
    .menu-item .material-icons {
        font-size: var(--header-button-icon-size);
        margin-left: 25px;
    }
    .toggle-login-button span.material-icons {
        margin-left: calc(var(--header-button-left) + 8px);
        margin-right: 12px;
    }
}
@media screen and (max-width: 300px) {
    :root {
        --title-font-size: 23px;
        --item-size: 30px;
        --app-spacing-y: 10px;
        --header-height: 40px;
        --header-button-icon-size: 25px;
        --header-button-size: 30px;
    }
    .addtodo-component input {
        padding-left: 15px;
    }
    .delete-all-button {
        margin-right: 5px;
    }
    .menu-item .material-icons {
        font-size: var(--header-button-icon-size);
        margin-left: calc(var(--header-button-left) + 3px);
    }
    .toggle-login-button span.material-icons {
        margin-left: calc(var(--header-button-left) + 6px);
        margin-right: 12px;
    }
}

@media screen and (max-width: 280px) {
    :root {
        --header-button-left: 15px;
        --item-size: 30px;
        --app-spacing-y: 10px;
    }
    .modal-text {
        font-size: 1.3rem;
    }
    .modal-button {
        font-size: 1rem;
        height: 32px;
        width: 65px;
    }
    .addtodo-component {
        height: 100px;
        flex-direction: column;
    }

    .addtodo-component input {
        flex: 0 0 40px;
        border-radius: var(--item-border-radius) var(--item-border-radius) 0 0;
        width: 100%;
        padding: 20px;
        margin: auto;
        text-align: center;
    }
    .text-button.add-button {
        position: relative;
        flex: 0 0 40px;
        border: none;
        border-top: 1px solid var(--color6);
        border-radius: 0 0 var(--item-border-radius) var(--item-border-radius);
        width: 100%;
        padding: 0;
    }
    .footer-button-container {
        margin-top: 30px;
        flex-direction: column;
    }
    .footer-button {
        font-size: 0.95rem;
        margin: 8px 0;
    }
    .delete-all-button {
        margin-right: 0;
    }
    body {
        min-width: 240px;
    }
}